<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shanir.cookingappofshanir">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="shanir recipe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity

            android:name=".classs.UpdateProfile"
            android:exported="true" />
        <activity android:name="MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        <activity
            android:exported="true"
            android:name=".Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:exported="true"
            android:name=".Profile"
            android:screenOrientation="portrait" />
        <activity
            android:exported="true"
            android:name=".DetailsOnRecipe"
            android:screenOrientation="portrait" />
        <activity
            android:exported="true"
            android:name=".ListOfRecipe"
            android:screenOrientation="portrait" />
        <activity
            android:exported="true"
            android:name=".ListOfSaveRecipes"
            android:screenOrientation="portrait" />
        <activity
            android:exported="true"
            android:name=".Admin.Picture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Consumers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AddDetailsOnRecipeAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AdminListOfRecipes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Timerrun"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>